
/* Global reset */
@font-face {
    font-family: "Cormorant Unicase";
    src: url("bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Cormorant Unicase";
    src: url("light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Cormorant Unicase";
    src: url("medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Cormorant Unicase";
    src: url("regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Cormorant Unicase";
    src: url("semibold.ttf");
    font-weight: 600;
}
body {
  font-family: "Cormorant Unicase", serif;
  background: #370617;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 1px black;
  color: #370617;
}
a {
    text-decoration: none;
    color: #FFBA08;
}
.nav-bar a {
   color: #370617;
}
p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
}
h1, h2 {
    font-weight: 700;
    font-style: bold;
}
.hero-title {
    font-size: 1.7rem;
}
.blog-title {
    font-size: 1.2rem;
    margin: 0;
}
time {
    font-size: 0.7rem;
    font-weight: 300;
    padding-top: 1em;
    margin-bottom: 0;
    padding-bottom: 0;
}

header {
    height: 72px;
}

/* Navbar */
nav {
  height: 72px;
    top: 0;
     left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background: #9D0208;
}

/* Shared list reset */
.navigation,
.right-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Shared flex behavior */
.navigation,
.right-links {
  display: flex;
  align-items: center;
}

/* Main nav layout */
.navigation {
  height: 100%;
}
.left-side {
    height: 100%;


}
.left-side-logo {
    height:100%;
    list-style: none;
    display: flex;
    flex-direction: column;
margin:0;
padding: 6px 0 6px 15px;
    justify-content: start;
    gap: 0.1em;
}

/* Push right block */
.right-side {
  margin-left: auto;
  height: 100%;
}

/* Right links layout */
.right-links {
  justify-content: flex-end;
  gap: 1rem;   /* fixed gap > % gap (more predictable) */
  height: 100%;
  font-size: 0.7rem;
}
.about-me {
    margin-right: 2em;
}

/* Logo */
.logo {
    height: auto;
    align-self: center;
    margin: 0;
    padding-top: 0;
}
.logo-img {
  height: 40px;
  width: auto;
  display: block;
  padding-top: 0;
  margin-top: 0;
}

/* Title */
.logo-title {
  font-size: 0.7rem;
  
}
main {
    flex: 1;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #9D0208;
    height: 72px;
    text-align: center;
    margin: 0;
}
.hero {
    background-image: url("https://static0.cbrimages.com/wordpress/wp-content/uploads/2021/01/Featured-Image-Gon-Freecss-Cropped.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    display: block;
}
.hot {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding: 0 2em 0.5em;
    box-sizing: border-box;
}

.sum {
    padding-bottom: 1.5em;
    flex-grow: 0;
}
.other-posts {
    padding: 1em;
}
.other-posts-lists {
    display: grid;
    grid-template-columns: 1fr;
     list-style: none;
  margin: 0;
  padding: 0;
  gap: 1em;
}
.post {
    width:100%;
    box-sizing: border-box;
    display: flex;
}
.blog {
   width:100%;
   display: flex;
   flex-direction: column;
}
.post, .blog {
    height: auto; 
    padding-top: 0;
   margin-top: 0;
}

.blog-img {
    width:100%;
    height: 200px;
    display: block;
    object-fit: cover;
     padding-top: 0;
   margin-top: 0;
    
}
a:hover {
    opacity: 0.5;
}

@media (min-width:768px) {
    nav {
        height: 112px;
    }
    .logo-title {
        font-size: 1rem;
    }
    .logo-img {
        height: 60px;
    }
    .right-links {
        font-size: 1.5rem;
        gap: 2.5em;
    }
    .hero {
        height: 400px;
    }
    .hot {
        height: 400px;
        padding: 0 2em 1em 2em;
        justify-content: flex-end;
    }
    p {
    font-size: 1.1rem;
}

h1 {
    font-size: 2rem;
}
.blog-title {
    font-size: 1.3rem;
    margin: 0;
}
time {
    font-size: 0.9rem;
  
}
.other-posts-lists {
    grid-template-columns: 1fr 1fr;
    
}
footer {
    height: 85px;
}


}

@media (min-width:1024px) {
    .hero{
        height: 700px;
    }
    .hot {
        height: 700px;
        padding: 0 3em 2em 3em;
    }
    .logo-title {
        font-size: 1.5rem;
    }
    .right-links {
        font-size: 1.2rem;
        gap: 1.5em;
    }
        .blog-text {
    font-size: 1.7rem;
}

h1 {
    font-size: 3rem;
}
.blog-title {
    font-size: 2rem;
}
time {
    font-size: 1.4rem;
  
}
.other-posts-lists {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    
}
footer {
    height: 112px;
}
.other-posts {
    padding: 3em;
}
}
/* about me */

.main-title,
.sub-title,
.blog-text {
    color:#FFBA08;
}
.main-title {
    font-size: 1.7rem;
}
.sub-title {
    font-size: 0.9rem;
    font-weight: 700;
}
.me {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 1em auto 0;
}
article {
    padding: 1em;
    padding-bottom: 0;
}

.blog-text {
    margin-bottom: 0.7em;
}
.outro .last {
    margin-bottom: 0;
}
.recent {
    font-size: 1.2rem;
    font-weight: 700;
    color: #FFBA08;
    text-align: center;
    margin: 0 auto 1em;
}
@media (min-width:768px) {

    article {
        padding: 10em 2em 0 2em;
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 200px auto;
        row-gap: 8em;
        column-gap: 2em;
        align-items: center;
    }
    .me {
        grid-column: 1 / 2;
        grid-row:  1 / 2;
    }
   .intro-section {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

   .second-section {
        grid-column: 1 / 3;
    }
    .sub-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.recent {
    font-size: 1.5rem;
}
.main-title {
    font-size: 1.9rem;
}
.blog-text {
    margin-bottom: 1.5em;
}
}
@media (min-width: 1024px) {
     article {
        padding: 10em 2em 0 2em;
        display: grid;
        grid-template-columns: 400px auto;
        grid-template-rows: 400px auto;
        row-gap: 8em;
        column-gap: 2em;
        align-items: center;
    }
    .me {
        grid-column: 1 / 2;
        grid-row:  1 / 2;
        height: 400px;
    }
   .intro-section {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

   .second-section {
        grid-column: 1 / 3;
    }
    .sub-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 1.5em;
}
.recent {
    font-size: 2.5rem;
}
.main-title {
    font-size: 3rem;
}
.blog-text {
    margin-bottom: 1.5em;
}
.blog-img {
    height: 350px;
}
}

/*blog*/

.text,
.sum,
time,
.hero-title,
.preview {
    color: #FFBA08;
}
.blog {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: auto;
}
.text {
    width: auto;
}
.date {
    margin-top: 3em;
}
.text-title {
    margin: 0;
}

@media (min-width:768px) {
.post-img {
    height: 370px;
}
}
@media (min-width:1024px) {
.post-img {
    height: 700px;
}
.text {
    width: 1300px;
    text-wrap: wrap;
}
.preview {
    margin-bottom: 1em;
}
}